img {
    width: 100%;
}

.navbar-nav {
    flex-direction: column;
}

.nav.navbar-nav .nav-item > a{
    padding-bottom: 0;
}

footer {
    .region-footer{
    flex-direction: row;
    justify-content: center;

    }
    .nav.navbar-nav{
        flex-direction: row;
    }
}

.page-title {
    color: #0056b3;
}